<div class="edit_page col-md-8 col-md-offset-2">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Edit Request</h1>
				<div class="panel-body">
					<%= render 'form' %>

					<%= link_to 'Cancel', request_path %>
				</div>
			</div>
		</div>
	</div>
</div>