<header class="intro-header" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
									<h1>Get in Touch</h1>

									<h3>The best way to get in touch with me is with emails.</h3>
									<h2>
										<%= mail_to "benliewvb@gmail.com" do %>
										  <strong>Email me:</strong> <span>benliewvb at gmail.com</span>
										<% end %>
									</h2>
									
								</div>
            </div>
        </div>
    </div>
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h6>If you're afraid of emails, you can try one of the following links:</h6>
		</div>
	</div>
</div>