<%#= line_chart @impressions.group_by_day(:created_at).count %>
<div class="container-fluid">
	<div class="row">
		<h1><%= link_to @impressions.all.count , traffic_path  %> of Visits</h1>
	</div>

		<div class='row'>
			<table>
			<tr>
				<th>Title</th>
				<th></th>
				<th>Number of views</th>
			</tr>
			<tr>
				<% @requests.each do |request| %>
					<td><h3><%= link_to request.title, request %></h3></td>
					<td></td>
					<td><h2><%= Impression.where(impressionable_id: request).count %></h2></td>
			</tr>
				<% end %>
			</table>
		</div>
</div>