<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<ul class="list-inline text-center">
					<li>
						<a href="https://www.facebook.com/benliewvb">
                            <span class="fa-stack fa-md">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
					</li>
					<li>
						<a href="https://twitter.com/benlvb">
                            <span class="fa-stack fa-md">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
					</li>
					<li>
						<a href="http://instagram.com/benlvb/">
                            <span class="fa-stack fa-md">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
					</li>
					<li>
						<a href="https://github.com/benlvb">
                            <span class="fa-stack fa-md">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
					</li>
					<hr>
					<p class="copyright text-muted">&copy; University Technical Malaysia Melaka 2015</p>
				</ul>
			</div>
		</div>
	</div>
</footer>